@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #7474BF;  
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
  background: linear-gradient(to right, #348AC7, #7474BF); 
  
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border-radius: 2px;
  transition: 0.4s;
}

button:hover{
  background-color: #ffffff28;
}

.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3C486B;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 50px #1818186f;
}

.display{
  padding: 20px 20px;
  color: #fff;
  font-size: 35px;
  width: 100%;
  text-align: right;
}

.display span{
  font-size: 19px;
}

.operators{
  width: 100%;
  background-color: #F9D949;
  display: flex;
  align-items: center;
}

.operators button{
  color: #222;
}

.operators button{
  flex: 1;
}

.degitis{
  display: flex;
  flex-wrap: wrap;
}
.degitis button{
  padding: 18px 10px;
  flex-basis: 30%;
  flex-grow: 1;
}

@media (max-width : 400px){
  .display{
    font-size: 30px;
  }

  .display span{
    font-size: 16px;
  }

  button{
    padding: 15px 10px;
    font-size: 20px;
  }


  .degitis button{
    padding: 18px 7px;
  }
}
